.Page {
    display: flex;
    height: 80vh;
    width: 70%;
    flex-direction: column;
    margin-right: 1em;
}

.Container {
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow: auto;
    width: 50%;
    border: transparent;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 100vh;
}

@media screen and (max-width: 500px) {
    .Container {
        width: 65%;
    }
}

.textA {
    width: 98%;
    height: 100px;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 17px;
    background-color: transparent;
    border: 1px solid lightgray;
    outline: none;
    color: lightgray;
    letter-spacing: 1px;
    line-height: 20px;
}

.textA ::placeholder {
    color: lightgrey;
}

.Button {
    background-color: pink;
    width: 13%;
    border: none;
    height: 20px;
    border-radius: 10px;
    color: #46516e;
    font-size: 13px;
}

.MyRow {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.MyMessage {
    width: 45%;
    background-color: pink;
    color: #46516e;
    padding: 10px;
    margin-right: 5px;
    text-align: center;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

.PartnerMessage {
    width: 45%;
    background-color: transparent;
    color: lightgray;
    border: 1px solid lightgray;
    padding: 10px;
    margin-left: 5px;
    text-align: center;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.Entry {
    width: 100%;
}

.Entry form {
    width: 80%;
    margin-left: 20em;
}

.Entry input {
    width: 80%;
    height: auto;
    cursor: auto;
    padding: 2em;
    font-size: 1rem;
    border: 0;
    border-radius: 10px;
    caret-color: #00379f;
    margin-left: 10px;
}

.Entry button {
    width: 10%;
    padding: 0.5em;
    font-size: 1em;
    color: #00379f;
    background: white;
    border-radius: 4em;
    border: 2px solid #00379f;
    text-transform: uppercase;
    transition: color 0.5s ease, background 0.5s ease;
}